<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Nonstop Constant Panther</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;  -webkit-font-smoothing: antialiased;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;  color: inherit;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-theme-neutral-dark);
        background: var(--dl-color-theme-neutral-light);

        fill: var(--dl-color-theme-neutral-dark);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./testimonial17.css" rel="stylesheet" />
      <div class="thq-section-padding">
        <div class="testimonial17-max-width thq-section-max-width">
          <div class="testimonial17-container10">
            <h2 class="thq-heading-2">
              <fragment class="testimonial17-fragment21">
                <span class="testimonial17-text35">客户见证</span>
              </fragment>
            </h2>
            <span class="testimonial17-text11 thq-body-small">
              <fragment class="testimonial17-fragment18">
                <span class="testimonial17-text32">
                  非常感谢考试中心的专业服务，孩子在这里备考得到了很大的提升。
                </span>
              </fragment>
            </span>
          </div>
          <div class="thq-grid-2">
            <div class="thq-animated-card-bg-2">
              <div class="thq-animated-card-bg-1">
                <div data-animated="true" class="thq-card testimonial17-card1">
                  <div class="testimonial17-container12">
                    <img
                      alt="张三的头像"
                      src="https://images.unsplash.com/photo-1616436051317-c4373ce142e1?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTczMTc5NTI3M3w&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                      class="testimonial17-image1"
                    />
                    <div class="testimonial17-container13">
                      <strong class="thq-body-large">
                        <fragment class="testimonial17-fragment12">
                          <span class="testimonial17-text26">张三</span>
                        </fragment>
                      </strong>
                      <span class="thq-body-small">
                        <fragment class="testimonial17-fragment11">
                          <span class="testimonial17-text25">学生家长</span>
                        </fragment>
                      </span>
                    </div>
                  </div>
                  <span class="testimonial17-text14 thq-body-small">
                    <fragment class="testimonial17-fragment20">
                      <span class="testimonial17-text34">
                        考试中心的教学团队非常优秀，课程设置科学合理，帮助学生取得优异成绩。
                      </span>
                    </fragment>
                  </span>
                </div>
              </div>
            </div>
            <div class="thq-animated-card-bg-2">
              <div class="thq-animated-card-bg-1">
                <div data-animated="true" class="thq-card testimonial17-card2">
                  <div class="testimonial17-container14">
                    <img
                      alt="李四的头像"
                      src="https://images.unsplash.com/photo-1518333648466-e7e0bb965e70?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTczMTc5NTI3M3w&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                      class="testimonial17-image2"
                    />
                    <div class="testimonial17-container15">
                      <strong class="thq-body-large">
                        <fragment class="testimonial17-fragment15">
                          <span class="testimonial17-text29">李四</span>
                        </fragment>
                      </strong>
                      <span class="thq-body-small">
                        <fragment class="testimonial17-fragment10">
                          <span class="testimonial17-text24">教育工作者</span>
                        </fragment>
                      </span>
                    </div>
                  </div>
                  <span class="testimonial17-text17 thq-body-small">
                    <fragment class="testimonial17-fragment14">
                      <span class="testimonial17-text28">
                        在这里备考考试，学到了很多实用的技巧，对我的学业有很大帮助。
                      </span>
                    </fragment>
                  </span>
                </div>
              </div>
            </div>
            <div class="thq-animated-card-bg-2">
              <div class="thq-animated-card-bg-1">
                <div data-animated="true" class="thq-card testimonial17-card3">
                  <div class="testimonial17-container16">
                    <img
                      alt="王五的头像"
                      src="https://images.unsplash.com/photo-1713946598186-8e28275719b9?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTczMTc5NTI3M3w&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                      class="testimonial17-image3"
                    />
                    <div class="testimonial17-container17">
                      <strong class="thq-body-large">
                        <fragment class="testimonial17-fragment13">
                          <span class="testimonial17-text27">王五</span>
                        </fragment>
                      </strong>
                      <span class="thq-body-small">
                        <fragment class="testimonial17-fragment19">
                          <span class="testimonial17-text33">大学生</span>
                        </fragment>
                      </span>
                    </div>
                  </div>
                  <span class="testimonial17-text20 thq-body-small">
                    <fragment class="testimonial17-fragment22">
                      <span class="testimonial17-text36">
                        考试中心注重个性化教学，帮助学生找到适合自己的学习方法，是一家非常值得信赖的机构。
                      </span>
                    </fragment>
                  </span>
                </div>
              </div>
            </div>
            <div class="thq-animated-card-bg-2">
              <div class="thq-animated-card-bg-1">
                <div data-animated="true" class="thq-card testimonial17-card4">
                  <div class="testimonial17-container18">
                    <img
                      alt="赵六的头像"
                      src="https://images.unsplash.com/photo-1504904488824-dbeda3cb530b?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTczMTc5NTI3M3w&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                      class="testimonial17-image4"
                    />
                    <div class="testimonial17-container19">
                      <strong class="thq-body-large">
                        <fragment class="testimonial17-fragment17">
                          <span class="testimonial17-text31">赵六</span>
                        </fragment>
                      </strong>
                      <span class="thq-body-small">
                        <fragment class="testimonial17-fragment16">
                          <span class="testimonial17-text30">教育专家</span>
                        </fragment>
                      </span>
                    </div>
                  </div>
                  <span class="testimonial17-text23 thq-body-small">
                    <fragment class="testimonial17-fragment23">
                      <span class="testimonial17-text37">
                        Example value for review4
                      </span>
                    </fragment>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      defer=""
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
  </body>
</html>
